body {
  font-family: "Microsoft JhengHei", Arial;
  background: #111;
  color: white;
}

h1 {
  text-align: center;
  font-size: 48px;
}

p {
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.8;
}

.photo {
  width: 300px;
  display: block;
  margin: 30px auto;
  border-radius: 12px;
}
.section {
  display: flex;
  gap: 20px;
  max-width: 800px;
  margin: 40px auto;
  align-items: center;
}
.section img {
  width: 250px;
  border-radius: 10px;
}

